#about {
    width: 50%;
    padding: 55px;
    margin-top: 50px;
    margin-bottom: 0;


}

#contact {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contact form {
    max-width: 500px;
    width: 100%; 
    margin-top: 20px; 
}

#contact label {
    display: block; 
    margin-bottom: 5px;
}

#contact input,
#contact textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
}

.texte-interlude {
    text-align: right; /* Aligner le texte à droite */
    line-height: 1rem;
    font-size: 1.5rem;
    padding: 18px;
}

#texte-interlude-a {
    color: #264653; /* Remplacez avec la couleur désirée pour la première phrase */
}

#texte-interlude-a span {
    color: #E76F51; /* Remplacez avec la couleur désirée pour le mot "rêve" */
}

#texte-interlude-b {
    color: #F0F3BD; /* Remplacez avec la couleur désirée pour la seconde phrase */
}
