/* Style de base pour #about */
#about {
    width: 50%;
    padding: 55px;
    margin-top: 50px;
    margin-bottom: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #about {
        width: 100%; 
        padding: 20px; 
    }
}


.texte-interlude {
    text-align: right; /* Aligner le texte à droite */
    line-height: 1rem;
    font-size: 1.5rem;
    padding: 18px;
}

#texte-interlude-a {
    color: #264653; /* Remplacez avec la couleur désirée pour la première phrase */
}

#texte-interlude-a span {
    color: #E76F51; /* Remplacez avec la couleur désirée pour le mot "rêve" */
}

#texte-interlude-b {
    color: #F0F3BD; /* Remplacez avec la couleur désirée pour la seconde phrase */
}

@media (max-width: 768px) {
    .texte-interlude {
        text-align: right; /* Aligner le texte à droite */
        line-height: 2rem;
        font-size: 1.5rem;
        padding: 18px;
    }
}