.footer {
    margin-left: 50px;
    margin-top: 200px;
  }


  .footer p {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E76F51;
    margin: 0;
  }
  
  .footer a {
    font-size: 80px;
    text-transform: uppercase;
    color: transparent; /* Rendre le texte transparent */
    -webkit-text-stroke: 1px #F0F3BD; /* Stroke pour le texte */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s ease, text-stroke-color 0.3s ease; /* Transition douce pour le survol */
  }
  
  .footer a:hover {
    color: #F0F3BD; 
    -webkit-text-stroke: 1px transparent; 
  }

  .endpoint{
    text-align: center;
    margin-top: 100px;
  }
  