header {
    position: relative;
}

/* Contenu de l'en-tête */
.header-content {
    position: relative;
    padding-top: 100px;
    padding-left: 50px;
}

/* Image dans l'en-tête */
#img-robin {
    position: absolute;
    top: -50px; 
    right: 0;
    width: 500px;
    height: auto;
    z-index: 1; 
    border-radius: 50px;
    margin: 0;
}

.highlight {
    color: #E76F51;
  }
  

.header-content p{
  font-size: 40px;
  margin: 0;
  color: #264653;
}

.header-content #greetings-root {
  font-size: 40px;
  color: #264653;
}

.header-content h1 {
    font-size: 100px;
    margin-top: 50px;
    line-height: 5.5rem;
}

/* Boutons dans l'en-tête */
 button {
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid rgb(10, 33, 110);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: var(--default-spacing);
}

button:hover {
    background-color: rgb(10, 33, 110);
    color: #ddd;
}

