/* Contenu de l'en-tête */
.header-content {
    position: relative;
    padding: var(--default-spacing);
}

/* Image dans l'en-tête */
#img-robin {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: auto;
    z-index: 1; 
    border-radius: 50px;
}

.header-content {
  margin: 20px;
}
.header-content h1 {
    font-size: 100px;
    margin-top: 50px;
    line-height: 5.5rem;
}

/* Boutons dans l'en-tête */
 button {
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid rgb(10, 33, 110);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: var(--default-spacing);
}

button:hover {
    background-color: rgb(10, 33, 110);
    color: #ddd;
}

