
  .links {
    font-size: 20px;
    margin-top: 150px;
    display: flex; 
    justify-content: space-between; 
    background-color: #00A896;
  }
  
  .links a {
    flex: 1; 
    text-align: center; 
    padding: 35px 0; 
    border: 1px solid #F0F3BD; 
    color: #F0F3BD; 
    text-decoration: none;
    transition: background-color 0.3s; 
  }
  
  
  .links a:first-child {
    border-left: none;
  }
  
  
  .links a:hover {
    background-color: #F0F3BD;
    color: #264653;
  }
  