#projects {
    padding: 50px;
    background: #f9f9f9;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.project-card h3 {
    font-size: 1.5em;
    margin: 16px;
}

.project-card p {
    font-size: 1em;
    margin: 16px;
}

.project-card button {
    background: rgb(116, 116, 243);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.project-card button:hover {
    background-color: darken(var(--primary-color), 10%);
}
